body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://www.riddle.com/imageservice/q_80,f_auto,c_fill,w_960,h_540/ullz1csc1jqfnoo4fn2t');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

input[type="text"], textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5); /* Adjusted for transparency */
    color: #333;
}

input[type="text"]::placeholder, textarea::placeholder {
    color: #555;
    opacity: 1;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
}

button:hover {
    background-color: #218838;
}
