/*Register Page*/
.registration {
    top: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
}

.register-container {
    min-height: 15rem;
    min-width: 45rem;
    display: flex;
    justify-content: space-between;
}

.register-container .auth-title {
    display: flex;
    align-items: end;  
    border-right: 1px solid orange;
    padding: 1.5rem;
}

.register-container .auth-title h1 {
    width: 100%;
    display: flex;
}

.register-container .auth-title p {
    position: absolute;
    display: flex;
    cursor: pointer;
    display: flex;
}

/*Login Page*/
.login-container {
    min-height: 12rem;
    min-width: 37rem;
    margin-left: 10rem;
    display: flex;
    justify-content: space-between;
}

.login-container .auth-title {
    display: flex;
    align-items: end;
    padding: 1.5rem;
}

.login-container .auth-title h1 {
    width: 100%;
    display: flex;
    font-size: 3.5rem;
}

.login-container .auth-title p {
    position: absolute;
    display: flex;
    cursor: pointer;
    display: flex;
}

.login-container .auth-container {
    margin: auto;
    height: 8.5rem;
}

hr {
    border: 1px solid orange;
}